html, body{
    padding: 0px;
    border: 0px;
    margin: 0px;

    width: 300px;
    max-width: 300px;
}

#buttons{
    
    padding: 0px;
    border: 0px;
    margin: 0px; 

    width:100%;
}

.title_input{
    display: inline;

    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#display_title_block{
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

#update{
    float: left;
    width: 50%;

    border-right: 1px solid black;
}

#goto{
    float: right;
    width: 50%;
}

.button{
    background-color: #4F88F7;
    color: #FFFFFF;

    top: 0px;

    padding: 0px;
    border: 0px;
    margin: 0px;

    height: 35px;

    box-sizing: border-box;

    text-align: center;
    vertical-align: middle;

    font-family: "Dejavu Sans", "Arial";
}

.button:hover{
    background-color: orange;

    cursor: pointer;
}

#comic_name{
    padding: 0px;
    border: 0px;
    margin: 0px;

    word-wrap: break-word;
    box-sizing: border-box;

    text-align: left;

    font-family: "Dejavu Sans", "Arial";
}
